@font-face {
  font-family: 'Bookerly';
	unicode-range: U+000-5FF;
	font-display: swap;
	src: local('Bookerly');
	src: url('/fonts/Bookerly-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Bookerly';
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Bookerly Italic');
  src: url('/fonts/Bookerly-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Bookerly';
	font-weight: bold;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Bookerly Bold');
  src: url('/fonts/Bookerly-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Bookerly';
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Bookerly Bold Italic');
  src: url('/fonts/Bookerly-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Triplex Sans';
	font-weight: bold;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Triplex Sans Bold');
	src: url('/fonts/Triplex-Sans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Triplex Sans';
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Triplex Sans Bold Italic');
	src: url('/fonts/Triplex-Sans-BoldItalic.woff') format('woff2');
}

@font-face {
  font-family: 'Triplex Sans';
	font-weight: 900;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Triplex Sans Extrabold');
	src: url('/fonts/Triplex-Sans-Extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'Triplex Sans';
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Triplex Sans Extrabold Italic');
	src: url('Triplex-Sans-ExtraboldItalic') format('truetype');
}

@font-face {
  font-family: 'Menlo';
	unicode-range: U+000-5FF;
	font-display: swap;
	src: local('Menlo');
	src: url('/fonts/Menlo.woff2') format('woff2');
}

@font-face {
  font-family: 'Menlo';
	font-weight: bold;
	unicode-range: U+000-5FF;
	font-display: swap;
	src: local('Menlo');
	src: url('/fonts/MenloBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Unibody 8';
	unicode-range: U+000-5FF;
	font-display: swap;
	src: url('/fonts/Unibody-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Test';
	src: url('/fonts/Clifton - Italic-205TF.otf') format('opentype');
}

:root {
	--black: #1c2133;
	--dark: #38405f;
	--medium: #647aa3;
	--medium-light:#8BA0C3;
	--light: #afc1d6;
	--white: #f7f9f7;
	--accent: #b96d40;
	--bxs-black: 28, 33, 51;

	--text-color: #282e40;

	--theme-white: var(--white);
	--theme-dark: var(--dark);

	--gray: rgba(var(--bxs-black),0.8);

	--bdrs: 15px;
	--bdrs-small: 8px;
	--card-shadow: rgba(var(--bxs-black), 0.1) 0px 20px 25px -5px, rgba(var(--bxs-black), 0.04) 0px 10px 10px -5px;

	--text-size-base: 1rem;
	--text-size-xs: 0.64rem;
  --text-size-sm: 0.8rem;
	/* base text size here */
  --text-size-md: 1.25rem;
  --text-size-lg: 1.56rem;
  --text-size-xl: 1.95rem;
  --text-size-2xl: 2.44rem;
  --text-size-3xl: 3.05rem;
  --text-size-4xl: 3.81rem;

	--small-fz: 12px;
	--regular-fz: 18px;
	--middling-fz: 20px;
	--medium-fz: 24px;
	--big-fz: 28px;
	--bigger-fz: 32px;
	--large-fz: 40px;
	--huge-fz: 48px;
	--massive-fz: 64px;

	--padding-small: 0.5rem;
	--padding-sm: 0.75rem;
	--padding-regular: 1rem;
	--padding-regdium: 1.2rem;
	--padding-medium: 1.5rem;
	--padding-large: 2rem;
	--padding-huge: 3rem;

	--regular-font: Bookerly, -apple-system, sans-serif;
	--header-font: Triplex Sans, Triplex Sans, Georgia;
	--logo-font: 'Monotalic', Menlo, Impact, Georgia;
	--code-font: Menlo, monospace, sans-serif;
	--flourish-font: Plantin MT Pro, Verdana, sans-serif;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: var(--regular-fz);
	font-family: var(--regular-font);
	color: var(--text-color);
	background: var(--light);
	transition: 0.08s ease-out;
}

h1, h2, h3, h4, h5 {
	font-family: var(--header-font);
	line-height: 1;
	color: var(--black);
}

h1 {
	font-size: clamp(36px, 4vw, 48px);
	font-weight: 900;
}

h2 {font-size: clamp(32px, 3vw, 40px)}
h3 {font-size: var(--bigger-fz);}
h4 {font-size: var(--big-fz);}
h5 {font-size: var(--medium-fz);}

p {
	font-size:  clamp(16px, 2vw, 20px);
	line-height: 1.6;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	border: none;
  padding: var(--padding-regular);
	transition: 0.15s ease-in-out;
}

button:focus {
  border-color: var(--accent);
  outline: 0;
}

button:hover {
	background: var(--light);
}

.card {
	overflow: hidden;
	position: relative;
	display: inline-block;
	background: var(--white);
	border-radius: var(--bdrs);
	box-shadow: var(--card-shadow);
}

.text-container {
	display: flex;
	flex-direction: column;
	gap: var(--padding-small);
	padding: var(--padding-regular);
}

.info-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--padding-regular);
}

:global(body) {
	--theme-white: var(--white);
	--theme-dark: var(--dark);
}

.date-wrap {
	display: flex;
	align-items: center;
	gap: var(--padding-sm);
	font-family: 'Unibody 8';
	font-size: clamp(12px, 2vw, 16px);
	padding-top: var(--padding-small);
}

#date-icon {
	width: clamp(10px, 2vw, 14px);
	image-rendering: crisp-edges;
}